<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <style>
    html,
    body {
      height: 100vh;
      text-align: center;
    }

    body {
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Microsoft JhengHei, serif;
    }
  </style>
</head>

<body>
  <div id="app">
    <div class="container">
      <form class="form-signin" @submit.prevent="signin">
        <h1 class="h3 mb-3 font-weight-normal">
          請先登入
        </h1>
        <div class="form-group">
          <label for="inputEmail" class="sr-only">Email address</label>
          <input id="inputEmail" v-model="user.email" type="email" class="form-control" placeholder="Email address"
            required autofocus>
        </div>
        <div class="form-group">
          <label for="inputPassword" class="sr-only">Password</label>
          <input id="inputPassword" v-model="user.password" type="password" class="form-control" placeholder="Password"
            required>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">
          登入
        </button>
        <br>
        <button class="btn btn-outline-primary btn-block" type="button" @click="signout">
          登出
        </button>
        <br>
        <button class="btn btn-outline-primary btn-block" type="button" @click="getData">
          取得資料
        </button>
        <p class="mt-5 mb-3 text-muted">
          © 2020~∞ - 六角學院
        </p>
      </form>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <script>
    //自己的UUID
    const uuid = '8a8058c0-58d2-485b-b7fc-3c9be181cca7';
    const apiPath = 'https://course-ec-api.hexschool.io/api/';
    //Vue 環境
    new Vue({
      el: '#app',
      data() {
        return {
          user: {
            email: '',
            password: '',
          },
          token: '',
        }
      },
      methods: {
        signin() {
          const api = `${apiPath}auth/login`;
          axios.post(api, this.user)
            .then((res) => {
              console.log(res)
              const token = res.data.token;
              const expired = res.data.expired;
              //將token與到期日寫入cookie
              document.cookie = `testToken=${token}; expires=${new Date(expired * 1000)}; path=/`;
              window.location = '/jsw4hw/product.html';
              // '/jsw4hw/product.html'
            }).catch((error) => {
              console.log(error);
            });
        },
        signout() {
          //將cookie清空即為登出
          document.cookie = `testToken=; expires=; path=/`;
        },
        getData() {
          this.token = document.cookie.replace(/(?:(?:^|.*;\s*)testToken\s*\=\s*([^;]*).*$)|^.*$/, "$1");
          console.log(this.token)
          //將token加入發送的headers
          axios.defaults.headers.common['Authorization'] = `Bearer ${this.token}`;
          axios.get(`${apiPath}${uuid}/admin/ec/products`)
            .then((res) => {
              console.log(res)
            })
        }
      },
    })
  </script>

</body>

</html>