<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <style>
    body {
      font-family: Microsoft JhengHei, serif;
    }

    .py_9_5 {
      padding: 9.5px 0;
    }

    .w_80 {
      max-width: 80%;
    }
  </style>
</head>

<body>
  <div class="container mt-2" id="app">
    <!-- Button trigger modal -->
    <div class="d-flex justify-content-end">
      <button type="button" class="btn d-flex align-items-center p-2 m-1 mr-5" @click="openModal('new')">
        <span class="material-icons mr-2">
          add
        </span>
        新增商品
      </button>
    </div>

    <table class="table mt-2 rounded">
      <thead class="alert-success">
        <tr>
          <th class="text-center border-0" width="120">分類</th>
          <th class="text-center border-0" width="120">產品名稱</th>
          <th class="text-center border-0" width="120">牌價</th>
          <th class="text-center border-0" width="120">售價</th>
          <th class="text-center border-0" width="100">是否上架</th>
          <th class="text-center border-0" width="120">編輯</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in products" :key="item.id">
          <th class="text-center p-3" scope="row">{{ item.category }}</th>
          <td class="text-center p-3">{{ item.title }}</td>
          <td class="text-center p-3">{{ item.origin_price }}</td>
          <td class="text-center p-3">{{ item.price }}</td>
          <td class="text-center p-3">
            <span v-if="item.is_enabled">已上架</span>
            <span v-else="item.is_enabled">未上架</span>
          </td>
          <td class="text-center py_9_5">
            <button type="button" class="btn btn-primary" @click="openModal('edit', item)"
              :disabled="loadingBtn === item.id">
              <div class="d-flex align-items-center">
                編輯
                <span class="spinner-grow spinner-grow-sm ml-2" role="status" aria-hidden="true"
                  v-if="loadingBtn === item.id"></span>
              </div>
            </button>
            <button type="button" class="btn btn-danger" @click="openModal('delete', item)">
              刪除
            </button>
          </td>
        </tr>
      </tbody>
    </table>
    <!-- 內層名稱以及外層的資料 -->
    <pagination :pages="pagination" @update="getProducts"></pagination>

    <!-- Modal -->
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog" aria-labelledby="updateModal"
      aria-hidden="true">
      <modal @update="getProducts" :api="api" :temp-product="tempProduct" :is-new="isNew"></modal>
    </div>
    <div class="modal" id="delProductModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header bg-danger text-white">
            <h5 class="modal-title">刪除商品</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span class="text-white" aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>確認刪除-- <span class="font-weight-bold">{{ tempProduct.title }}</span> --這個商品嗎？<span
                class="ml-3">(刪除後無法復原!!)</span></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
            <button type="button" class="btn btn-danger" @click="deleteProduct">確認刪除</button>
          </div>
        </div>
      </div>
    </div>
  </div>


  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="js/all.js" type="module"></script>
</body>

</html>